nav, main
{
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
}
header
{
	background-color: #808080;
    height: 150px;
}
footer
{
	background-color: #808080;
    text-align: center;
}
.content
{
    max-width: 960px;
    margin: 0 auto;
}
.logo
{
    width: 150px;
    height: 150px;
    float: left;
}
#Ad
{
    line-height: 100px;
    margin-left: 110;
}
#Navig ul
{
	justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}
#Navig li
{
    margin-right: 50px;
	
}

#Tab
{
    border-collapse: collapse;
    margin: 40px;
}
#Tab td
{
    padding: 10px;
    border: 1px solid #000000;
}
#Tab tr:nth-child(even)
{
    background-color: gray;
}
#Tab tr:nth-child(odd)
{
    background-color: green;
}
